<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HR Management</title>
    <link rel="stylesheet" href="/css/home_style.css" />
	<link rel="icon" href="/pictures/favicon.png" type="image/png"/>
	<link href='https://fonts.googleapis.com/css2?family=Work+Sans&display=swap' rel='stylesheet'>
	<script>
	  window.onload = function() {
	    if (!sessionStorage.getItem("alertShown")) {
	      alert("Ce site est une démo publique.\nAfin de garantir l'intégrité de la base de données et éviter tout changement inapproprié, celle-ci est réinitialisée à son état initial une heure après chaque modification.");
	      sessionStorage.setItem("alertShown", "true");
	    }
	  };
	</script>
  </head>
  <body>
    <header>
	  <img id="logo_header" src="/pictures/logo_header.png" alt="team_icon"/>
	  <h1 id="title">HR Management</h1>
    </header>
    <main>
      <h2>Liste des employés</h2>
      <table>
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${employees.empty}">
            <td colspan="3">Aucun employé en base de données</td>
          </tr>
          <tr th:each="employee: ${employees}">
            <td><span th:text="${employee.firstName}">Prénom</span></td>
            <td><span th:text="${employee.lastName}">Nom</span></td>
            <td>
              <a th:href="@{/updateEmployee/{id}(id=${employee.id})}">
                <button id="btn_modify">Modifier</button>
              </a>
              <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">
                <button id="btn_delete">Supprimer</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <a th:href="@{/createEmployee}">
		<button id="btn_new">Ajouter un nouvel employé</button>
	  </a>
    </main>
  </body>
</html>
